*/*.iml
*/.idea/
*/target/
*/generated-sources/

ObronaPrezentacjaSzominski.pdf
*.upb
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.aux
*.out
*.lof
*.run.xml
*.toc
*.acr
*.alg
*.glg
*.gls
*.glsdefs
*.ist
*.glo
*.acn
*.upa
*.lot
